@media (min-width: 600px){
    
body{
    padding-bottom: 52%;
}

#con-intro{
    width: 60%;
    text-align: center;
    margin: 50% 20% 0;
    position: absolute;
}
#con-intro h2{
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: 4.5em;
    color: #29271B;
}

#livros{
    max-width: 100%;
    overflow-x: hidden;
    background: linear-gradient(rgba(241,174,61,1) 0%, rgba(140,79,212,1) 65%, rgba(241,174,61,1) 100%);
    color: #29271B;
    display: inline-block;
    height: fit-content;
    padding-bottom: 300px;
}

#titulo-livro-esquerda{
    grid-area: tituloEsq;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: -33%;
}
#titulo-livro-esquerda h3{
    -webkit-transform: rotate(90deg);
    font-size: 3.5em;
    font-weight: bold;
}
#texto-livro-esquerda{
    grid-area: textoEsq;
    width: 95%;
}
#texto-livro-esquerda p{
    text-align: left;
    font-size: 1.4em;
}
#livro-esquerda{
    display: grid;
    grid-template-columns: 10% 80% 1fr;
    grid-auto-rows: 100%;
    
    grid-template-areas:
    '. textoEsq tituloEsq';
    
    border: 2px solid red;
    border-radius: 5%;
    position: relative;
    padding-top: 3%;
    width: 80%;
    height: 450px;
    
    background-image: linear-gradient(to left, rgba(138, 45, 45,1), rgba(234, 221, 212,1));
}

#btn-comprar-esquerda{
    margin-left: 20%;
    margin-bottom: 10%;
}

#livro-esquerda.desativo{
    -webkit-transition: left 0.5s ease-in-out;
    left: -68%;
}

#livro-esquerda.ativo{
    -webkit-transition: left 0.5s ease-in-out;
    left: -5%;
}

/*-----------------------------------------------*/

#titulo-livro-direita{
    grid-area: tituloDir;
    height: 100%;
    display: flex;
    align-items: center;
}
#titulo-livro-direita h3{
    -webkit-transform: rotate(-90deg);
    font-size: 3.5em;
    font-weight: bold;
    margin-left: -35%;
}

#texto-livro-direita{
    grid-area: textoDir;
    font-size: 1.2em;
    width: 100%;
    margin-left: 5%;
}
#texto-livro-direita p{
    text-align: right;
}

#livro-direita{
    display: grid;
    grid-template-columns: 1fr 95%;
    grid-template-areas:
    'tituloDir textoDir';
    
    border: 2px solid red;
    border-radius: 5%;
    position: absolute;
    right: -90%;
    padding-top: 3%;
    padding-right: 15%;
    width: 82%;
    height: 450px;
    
    background-image: linear-gradient(to right, rgba(66, 184, 61, 1), rgba(255, 255, 255,1));
}

#btn-comprar-direita{
}

#livro-direita.desativo{
    -webkit-transition: right 0.5s ease-in-out;
    right: -68%;
}

#livro-direita.ativo{
    -webkit-transition: right 0.5s ease-in-out;
    right: -5%;
}


#con-bio{
    font-size: 1.2em;
}

#logo h1{
    font-family: 'Roboto Slab', serif;
    color: #29271B;
    letter-spacing: 1px;
    font-size: 3em;
    font-weight: 400;
}


#subtitulo{
    padding-left: 45%;
    margin-top: -1%;
}
#subtitulo h2{
    font-family: 'Roboto Slab', serif;
    color: #29271B;
    font-size: 1.4em;
    font-weight: 400;
}

footer{
    position: relative;
    bottom: 0;
    background-color: #F5F2E1;
    padding: 4%;
}

#con-footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: 1.8em;
}
#con-footer img{
    width: 50px;
    float: left;
}

#con-footer a{
    text-decoration: none;
    position: absolute;
}

.contato{
    margin-right: 30%;
    
}
}
