@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Quicksand&family=Raleway:ital,wght@0,100;0,300;1,100&family=Roboto+Slab:wght@300&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    background: #F1AE3D;
    max-width: 100vw;
    overflow-x: hidden;
}
main{
    max-width: 100vw;
    overflow-x: hidden;
    max-width: 100%;
}

#logo{
    padding: 2% 5% 0;
}
#logo h1{
    font-family: 'Roboto Slab', serif;
    color: #29271B;
    letter-spacing: 1px;
    font-size: xx-large;
    font-weight: 400;
}


#subtitulo{
    padding-left: 60%;
    margin-top: -1%;
}
#subtitulo h2{
    font-family: 'Roboto Slab', serif;
    color: #29271B;
    font-size: small;
    font-weight: 400;
}

header{
    background-color: #F5F2E1;
    max-width: 100%;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    width: 80%;
    margin: 0 10% 0;
    position: -webkit-sticky;
    top: 0;
    color: #548593;
    font-weight: 300;
}
nav a{
    color: #548593;
}

main{
    font-family: 'Quicksand', sans-serif;
}

#con-bio{
    padding: 1% 2% 1%;
    width: 94%;
    margin: 1% 3% 1%;
    border: 1px solid #548593;
    border-radius: 1%;
    background: rgba(84,133,147, 0.4);
    text-align: justify;
}


    /*Cards dos livros*/
#con-intro{
    width: 60%;
    text-align: center;
    margin: 40% 20% 0;
    position: absolute;
}
#con-intro h2{
    font-family: 'Kalam', cursive;
    font-weight: 700;
    font-size: 3em;
    color: #29271B;
}

#livros{
    max-width: 100%;
    overflow-x: hidden;
    background: linear-gradient(rgba(241,174,61,1) 0%, rgba(140,79,212,1) 43%, rgba(241,174,61,1) 100%);
    height: 480px;
    color: #29271B;
}

#titulo-livro-esquerda{
    grid-area: tituloEsq;
    height: 100%;
    display: flex;
    align-items: center;
}
#titulo-livro-esquerda h3{
    -webkit-transform: rotate(90deg);
    font-size: 2em;
    font-weight: bold;
}
#texto-livro-esquerda{
    grid-area: textoEsq;
    margin-right: -15%;
    width: 95%;
}
#texto-livro-esquerda p{
    text-align: left;
}
#livro-esquerda{
    display: grid;
    grid-template-columns: 10% 65% 1fr;
    grid-auto-rows: 100%;
    
    grid-template-areas:
    '. textoEsq tituloEsq';
    
    border: 2px solid red;
    border-radius: 5%;
    position: absolute;
    padding-top: 3%;
    width: 80%;
    height: 72%;
    
    background-image: linear-gradient(to left, rgba(138, 45, 45,1), rgba(234, 221, 212,1));
}

#btn-comprar-esquerda{
    margin-left: 20%;
    margin-bottom: 10%;
}

#livro-esquerda.desativo{
    -webkit-transition: left 0.5s ease-in-out;
    left: -68%;
}

#livro-esquerda.ativo{
    -webkit-transition: left 0.5s ease-in-out;
    left: -5%;
}

/*-----------------------------------------------*/

#titulo-livro-direita{
    grid-area: tituloDir;
    height: 100%;
    display: flex;
    align-items: center;
}
#titulo-livro-direita h3{
    -webkit-transform: rotate(-90deg);
    font-size: 2em;
    font-weight: bold;
    margin-left: -35%;
}

#texto-livro-direita{
    grid-area: textoDir;
    
}
#texto-livro-direita p{
    text-align: right;
    width: 95%;
    margin-left: -40%;
}

#livro-direita{
    display: grid;
    grid-template-columns: 1fr 85%;
    grid-template-areas:
    'tituloDir textoDir';
    
    border: 2px solid red;
    border-radius: 5%;
    position: absolute;
    right: -85%;
    padding-top: 3%;
    padding-right: 15%;
    width: 82%;
    height: 72%;
    
    background-image: linear-gradient(to right, rgba(66, 184, 61, 1), rgba(255, 255, 255,1));
}

#btn-comprar-direita{
}

#livro-direita.desativo{
    -webkit-transition: right 0.5s ease-in-out;
    right: -68%;
}

#livro-direita.ativo{
    -webkit-transition: right 0.5s ease-in-out;
    right: -5%;
}



#carrossel{
    width: 90%;
    margin: 5% 5% 3%; 
}

footer{
    position: relative;
    bottom: 0;
    height: 60px;
    background-color: #F5F2E1;
}

#con-footer{
    display: flex;
    flex-direction: row;
    padding: 5% 0 5%;
}
#con-footer img{
    width: 25px;
    float: left;
}

#con-footer a{
    text-decoration: none;
}

.contato{
    margin-left: 5%;
}