@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway:ital,wght@0,100;0,300;1,100&family=Roboto+Slab:wght@300&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    background: #F1AE3D;
    max-width: 100%;
    overflow: hidden;
}

#logo{
    padding: 2% 5% 0;
}
#logo h1{
    font-family: 'Roboto Slab', serif;
    color: #29271B;
    letter-spacing: 1px;
    font-size: xx-large;
    font-weight: 400;
}


#subtitulo{
    padding-left: 60%;
    margin-top: -1%;
}
#subtitulo h2{
    font-family: 'Roboto Slab', serif;
    color: #29271B;
    font-size: small;
    font-weight: 400;
}

header{
    background-color: #F5F2E1;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
    width: 80%;
    margin: 0 10% 0;
    position: sticky;
    top: 0;
    color: #548593;
    font-weight: 300;
}
nav a{
    color: #548593;
}

main{
    font-family: 'Quicksand', sans-serif;
}

#con-bio{
    padding: 1% 2% 1%;
    margin: 1%;
    border: 1px solid #548593;
    border-radius: 1%;
    background: rgba(84,133,147, 0.4);
    text-align: justify;
}


    /*Cards dos livros*/
.livros{
    max-width: 100%;
    height: fit-content;
    overflow: hidden;
}

#titulo-livro-esquerda{
    grid-area: titulo;
    height: 100%;
    display: flex;
    align-items: center;
}
#titulo-livro-esquerda h3{
    -webkit-transform: rotate(90deg);
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline red;
}
#texto-livro-esquerda{
    grid-area: texto;
    margin-right: -15%;
}
#texto-livro-esquerda p{
    text-align: left;
}
#livro-esquerda{
    display: grid;
    grid-template-columns: 10% 65% 1fr;
    grid-template-areas:
    '. texto titulo';
    
    border: 2px solid red;
    border-radius: 5%;
    position: absolute;
    padding-top: 3%;
    width: 80%;
    
    background-image: linear-gradient(to right, rgba(150, 12, 17, 0.7), rgba(234, 221, 212,0.7));
}
#livro-esquerda.desativo{
    -webkit-transition: left 0.5s ease-in-out;
    left: -68%;
}

#livro-esquerda.ativo{
    -webkit-transition: left 0.5s ease-in-out;
    left: -5%;
}

/*-----------------------------------------------*/

#titulo-livro-direita{
    grid-area: titulo;
    height: 100%;
    display: flex;
    align-items: center;
}
#titulo-livro-direita h3{
    -webkit-transform: rotate(-90deg);
    font-size: 2em;
    font-weight: bold;
    text-decoration: underline red;
}

#texto-livro-direita{
    grid-area: texto;
}
#texto-livro-direita p{
    text-align: right;
}

#livro-direita{
    display: grid;
    grid-template-columns: 1fr 90%;
    grid-template-areas:
    'titulo texto';
    justify-items: stretch;
    align-items: stretch;
    
    border: 2px solid red;
    border-radius: 5%;
    position: absolute;
    right: -85%;
    padding-top: 3%;
    width: 80%;
}

#livro-direita.desativo{
    -webkit-transition: right 0.5s ease-in-out;
    right: -68%;
}

#livro-direita.ativo{
    -webkit-transition: right 0.5s ease-in-out;
    right: -5%;
}